:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    width: 1440px;
    height: 120px;
    margin: 0 0 0 0;
    padding: 0 60px 0 60px;
    background: #ffffff;
    z-index: 116;
    box-shadow: 0 8px 10px 0 rgba(9, 9, 55, 0.02);
}

.logo {
    flex-shrink: 0;
    position: relative;
    width: 60px;
    height: 39px;
    z-index: 117;
}

.logo-stroke {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./assets/images/e3b6f144-e1f1-4a3b-9650-08f47fde6209.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 118;
}

.search-part {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 800px;
    height: 50px;
    padding: 10px 20px 10px 20px;
    background: #f4f4ff;
    z-index: 119;
    overflow: hidden;
    border-radius: 4px;
}

.search-part-input {
    flex-shrink: 0;
    position: absolute;
    width: 800px;
    height: 50px;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    z-index: 124;
    outline: none;
}

.search {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 95px;
    z-index: 120;
}

.icon-search {
    flex-shrink: 0;
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 121;
    overflow: hidden;
}

.vector {
    position: relative;
    width: 18.889px;
    height: 18.889px;
    margin: 0.78px 0 0 0.78px;
    background: url(./assets/images/a8fe8949-5e6f-430f-a734-006263e6daab.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 122;
}

.search-1 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 27px;
    color: rgba(9, 9, 55, 0.4);
    font-family: Manrope, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    white-space: nowrap;
    z-index: 123;
}

.icons {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 182px;
    z-index: 125;
}

.profile {
    flex-shrink: 0;
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 126;
}

.icon-outline-user {
    position: relative;
    width: 24px;
    height: 24px;
    margin: 13px 0 0 13px;
    z-index: 128;
    overflow: hidden;
}

.icon {
    position: relative;
    width: 18px;
    height: 22px;
    margin: 1px 0 0 3px;
    background: url(./assets/images/ed081fcc-2837-4b6f-825d-c01227de644a.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 129;
}

.rectangle {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    background: #f4f4ff;
    z-index: 127;
    border-radius: 4px;
}

.heart {
    flex-shrink: 0;
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 130;
}

.heart-2 {
    position: relative;
    width: 23.286px;
    height: 20.714px;
    margin: 14.714px 0 0 13.286px;
    z-index: 132;
}

.heart-3 {
    position: absolute;
    width: 103.07%;
    height: 103.07%;
    top: 0;
    left: 0;
    background: url(./assets/images/bbfa29d7-404f-419b-a8c2-11d40660a4bb.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 133;
}

.rectangle-4 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    background: #f4f4ff;
    z-index: 131;
    border-radius: 4px;
}

.shop {
    flex-shrink: 0;
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 134;
}

.icon-outline-shopping-cart {
    position: relative;
    width: 24px;
    height: 24px;
    margin: 13px 0 0 13px;
    z-index: 136;
    overflow: hidden;
}

.icon-5 {
    position: relative;
    width: 22px;
    height: 22px;
    margin: 1px 0 0 1px;
    background: url(./assets/images/a1934922-0c56-4df2-a4bd-f24eac41aa14.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 137;
}

.rectangle-6 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    background: #f4f4ff;
    z-index: 135;
    border-radius: 4px;
}

.banner {
    position: relative;
    width: 1320px;
    height: 400px;
    margin: 40px 0 0 60px;
    background: url(./assets/images/79668a55-5e7a-4978-870a-13eb5fbde19e.png) no-repeat center;
    background-size: cover;
    z-index: 3;
    overflow: visible auto;
    border-radius: 8px;
}

.text {
    position: relative;
    width: 426px;
    height: 228px;
    margin: 86px 0 0 60px;
    font-family: Manrope, var(--default-font-family);
    font-size: 56px;
    font-weight: 600;
    line-height: 76.496px;
    text-align: left;
    z-index: 3;
}

.discount {
    position: relative;
    color: #f0b861;
    font-family: Manrope, var(--default-font-family);
    font-size: 56px;
    font-weight: 800;
    line-height: 76.496px;
    text-align: left;
}

.paulo-coelho-books {
    position: relative;
    color: #ffffff;
    font-family: Manrope, var(--default-font-family);
    font-size: 56px;
    font-weight: 600;
    line-height: 76.496px;
    text-align: left;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 12px;
    position: relative;
    width: 56px;
    margin: 20px 0 0 692px;
    z-index: 4;
}

.ellipse {
    flex-shrink: 0;
    position: relative;
    width: 10px;
    height: 10px;
    background: url(./assets/images/bd5dceea-d86f-40e9-a220-204c3038f5df.png) no-repeat center;
    background-size: cover;
    z-index: 5;
    border-radius: 50%;
}

.ellipse-7 {
    flex-shrink: 0;
    position: relative;
    width: 12px;
    height: 12px;
    background: url(./assets/images/d89c3194-06a9-46be-b268-c9ba383e5efe.png) no-repeat center;
    background-size: cover;
    z-index: 6;
    border-radius: 50%;
}

.ellipse-8 {
    flex-shrink: 0;
    position: relative;
    width: 10px;
    height: 10px;
    background: url(./assets/images/c03e31c2-ff95-47e5-954b-338f36e71f5a.png) no-repeat center;
    background-size: cover;
    z-index: 7;
    border-radius: 50%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    width: 1320px;
    margin: 60px 0 0 60px;
    z-index: 45;
}

.best-seller {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 44px;
    color: #090937;
    font-family: Manrope, var(--default-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 43.712px;
    text-align: left;
    white-space: nowrap;
    z-index: 46;
}

.view-all {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 27px;
    color: #ef6b4a;
    font-family: Manrope, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    white-space: nowrap;
    z-index: 47;
}

.flex-row-b {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 1340px;
    height: 200px;
    margin: 20px 0 0 60px;
    z-index: 72;
}

.book {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    width: 320px;
    padding: 10px 10px 10px 10px;
    background: #f4f4ff;
    border: 1px solid rgba(9, 9, 55, 0.1);
    z-index: 48;
    border-radius: 4px;
}

.picture {
    flex-shrink: 0;
    position: relative;
    width: 120px;
    height: 180px;
    background: url(./assets/images/201589e7-45ab-4627-8d8d-c43001df562c.png) no-repeat center;
    background-size: cover;
    z-index: 49;
    border-radius: 4px;
}

.text-9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 105px;
    height: 180px;
    padding: 10px 0 10px 0;
    z-index: 50;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 105px;
    z-index: 51;
}

.dune {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 27px;
    color: #090937;
    font-family: Manrope, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    white-space: nowrap;
    z-index: 52;
}

.frank-herbert {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: rgba(9, 9, 55, 0.6);
    font-family: Manrope, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 21.856px;
    text-align: left;
    white-space: nowrap;
    z-index: 53;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 82px;
    z-index: 54;
}

.price-a {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 33px;
    color: #6251dd;
    font-family: Manrope, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 32.784px;
    text-align: left;
    white-space: nowrap;
    z-index: 55;
}

.book-b {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    width: 320px;
    padding: 10px 10px 10px 10px;
    background: #f4f4ff;
    border: 1px solid rgba(9, 9, 55, 0.1);
    z-index: 56;
    border-radius: 4px;
}

.picture-c {
    flex-shrink: 0;
    position: relative;
    width: 120px;
    height: 180px;
    background: url(./assets/images/53964165-65cf-48a4-ac5f-3c7400a864bb.png) no-repeat center;
    background-size: cover;
    z-index: 57;
    border-radius: 4px;
}

.text-d {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 108px;
    height: 180px;
    padding: 10px 0 10px 0;
    z-index: 58;
}

.name-e {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 108px;
    z-index: 59;
}

.text-9 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 27px;
    color: #090937;
    font-family: Manrope, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    white-space: nowrap;
    z-index: 60;
}

.george-orwell {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: rgba(9, 9, 55, 0.6);
    font-family: Manrope, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 21.856px;
    text-align: left;
    white-space: nowrap;
    z-index: 61;
}

.price-f {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 83px;
    z-index: 62;
}

.price-10 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 33px;
    color: #6251dd;
    font-family: Manrope, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 32.784px;
    text-align: left;
    white-space: nowrap;
    z-index: 63;
}

.book-11 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    width: 320px;
    padding: 10px 10px 10px 10px;
    background: #f4f4ff;
    border: 1px solid rgba(9, 9, 55, 0.1);
    z-index: 64;
    border-radius: 4px;
}

.picture-12 {
    flex-shrink: 0;
    position: relative;
    width: 120px;
    height: 180px;
    background: url(./assets/images/a5bd26de-e0fd-4b1c-b437-a5c0d4e73f01.png) no-repeat center;
    background-size: cover;
    z-index: 65;
    border-radius: 4px;
}

.text-13 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 105px;
    height: 180px;
    padding: 10px 0 10px 0;
    z-index: 66;
}

.name-14 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 105px;
    z-index: 67;
}

.ikigai {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 27px;
    color: #090937;
    font-family: Manrope, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    white-space: nowrap;
    z-index: 68;
}

.hector-garcia {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: rgba(9, 9, 55, 0.6);
    font-family: Manrope, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 21.856px;
    text-align: left;
    white-space: nowrap;
    z-index: 69;
}

.price-15 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 88px;
    z-index: 70;
}

.price-dollar {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 33px;
    color: #6251dd;
    font-family: Manrope, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 32.784px;
    text-align: left;
    white-space: nowrap;
    z-index: 71;
}

.book-16 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    width: 320px;
    padding: 10px 10px 10px 10px;
    background: #f4f4ff;
    border: 1px solid rgba(9, 9, 55, 0.1);
    z-index: 72;
    border-radius: 4px;
}

.picture-17 {
    flex-shrink: 0;
    position: relative;
    width: 120px;
    height: 180px;
    background: url(./assets/images/0e481fd2-5f97-4d38-9996-82fc47e2a419.png) no-repeat center;
    background-size: cover;
    z-index: 73;
    border-radius: 4px;
}

.text-18 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 89px;
    height: 180px;
    padding: 10px 0 10px 0;
    z-index: 74;
}

.name-19 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 89px;
    z-index: 75;
}

.metafizik {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 27px;
    color: #090937;
    font-family: Manrope, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    white-space: nowrap;
    z-index: 76;
}

.aristoteles {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: rgba(9, 9, 55, 0.6);
    font-family: Manrope, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 21.856px;
    text-align: left;
    white-space: nowrap;
    z-index: 77;
}

.price-1a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 88px;
    z-index: 78;
}

.price-dollar-1b {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 33px;
    color: #6251dd;
    font-family: Manrope, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 32.784px;
    text-align: left;
    white-space: nowrap;
    z-index: 79;
}

.title-1c {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    width: 1320px;
    margin: 60px 0 0 60px;
    z-index: 81;
}

.classics {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 44px;
    color: #090937;
    font-family: Manrope, var(--default-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 43.712px;
    text-align: left;
    white-space: nowrap;
    z-index: 82;
}

.view-all-1d {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 27px;
    color: #ef6b4a;
    font-family: Manrope, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    white-space: nowrap;
    z-index: 83;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 1340px;
    height: 200px;
    margin: 20px 0 0 60px;
    z-index: 108;
}

.book-1e {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    width: 320px;
    padding: 10px 10px 10px 10px;
    background: #f4f4ff;
    border: 1px solid rgba(9, 9, 55, 0.1);
    z-index: 84;
    border-radius: 4px;
}

.picture-1f {
    flex-shrink: 0;
    position: relative;
    width: 120px;
    height: 180px;
    background: url(./assets/images/7f937523-898b-4432-9bc2-25330a8e06a3.png) no-repeat center;
    background-size: cover;
    z-index: 85;
    border-radius: 4px;
}

.text-20 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 158px;
    height: 180px;
    padding: 10px 0 10px 0;
    z-index: 86;
}

.name-21 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 158px;
    z-index: 87;
}

.romeo-juliet {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 149.517px;
    height: 54px;
    color: #090937;
    font-family: Manrope, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 27.32px;
    text-align: left;
    z-index: 88;
}

.william-shakespeare {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: rgba(9, 9, 55, 0.6);
    font-family: Manrope, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 21.856px;
    text-align: left;
    white-space: nowrap;
    z-index: 89;
}

.price-22 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 82px;
    z-index: 90;
}

.price-dollar-23 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 33px;
    color: #6251dd;
    font-family: Manrope, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 32.784px;
    text-align: left;
    white-space: nowrap;
    z-index: 91;
}

.book-24 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    width: 320px;
    padding: 10px 10px 10px 10px;
    background: #f4f4ff;
    border: 1px solid rgba(9, 9, 55, 0.1);
    z-index: 92;
    border-radius: 4px;
}

.picture-25 {
    flex-shrink: 0;
    position: relative;
    width: 120px;
    height: 180px;
    background: url(./assets/images/b049c652-a1c2-42ff-b966-ba4666ccca00.png) no-repeat center;
    background-size: cover;
    z-index: 93;
    border-radius: 4px;
}

.text-26 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 112px;
    height: 180px;
    padding: 10px 0 10px 0;
    z-index: 94;
}

.name-27 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 112px;
    z-index: 95;
}

.olaganustu-bir-gece {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 112px;
    height: 54px;
    color: #090937;
    font-family: Manrope, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 27.32px;
    text-align: left;
    z-index: 96;
}

.author {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: rgba(9, 9, 55, 0.6);
    font-family: Manrope, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 21.856px;
    text-align: left;
    white-space: nowrap;
    z-index: 97;
}

.price-28 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 83px;
    z-index: 98;
}

.price-value {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 33px;
    color: #6251dd;
    font-family: Manrope, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 32.784px;
    text-align: left;
    white-space: nowrap;
    z-index: 99;
}

.book-29 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    width: 320px;
    padding: 10px 10px 10px 10px;
    background: #f4f4ff;
    border: 1px solid rgba(9, 9, 55, 0.1);
    z-index: 100;
    border-radius: 4px;
}

.picture-2a {
    flex-shrink: 0;
    position: relative;
    width: 120px;
    height: 180px;
    background: url(./assets/images/e4b2f95d-91c8-432d-b14a-2009d8d48623.png) no-repeat center;
    background-size: cover;
    z-index: 101;
    border-radius: 4px;
}

.text-2b {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 156px;
    height: 180px;
    padding: 10px 0 10px 0;
    z-index: 102;
}

.name-2c {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 156px;
    z-index: 103;
}

.book-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 156px;
    height: 54px;
    color: #090937;
    font-family: Manrope, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 27.32px;
    text-align: left;
    z-index: 104;
}

.author-2d {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: rgba(9, 9, 55, 0.6);
    font-family: Manrope, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 21.856px;
    text-align: left;
    white-space: nowrap;
    z-index: 105;
}

.price-2e {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 88px;
    z-index: 106;
}

.price-value-2f {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 33px;
    color: #6251dd;
    font-family: Manrope, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 32.784px;
    text-align: left;
    white-space: nowrap;
    z-index: 107;
}

.book-30 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    width: 320px;
    padding: 10px 10px 10px 10px;
    background: #f4f4ff;
    border: 1px solid rgba(9, 9, 55, 0.1);
    z-index: 108;
    border-radius: 4px;
}

.picture-31 {
    flex-shrink: 0;
    position: relative;
    width: 120px;
    height: 180px;
    background: url(./assets/images/6093c701-a686-41ec-8eac-8df0b4913e73.png) no-repeat center;
    background-size: cover;
    z-index: 109;
    border-radius: 4px;
}

.text-32 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 154px;
    height: 180px;
    padding: 10px 0 10px 0;
    z-index: 110;
}

.name-33 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 154px;
    z-index: 111;
}

.book-title-34 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 27px;
    color: #090937;
    font-family: Manrope, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    white-space: nowrap;
    z-index: 112;
}

.author-35 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: rgba(9, 9, 55, 0.6);
    font-family: Manrope, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 21.856px;
    text-align: left;
    white-space: nowrap;
    z-index: 113;
}

.price-36 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 88px;
    z-index: 114;
}

.price-value-37 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 33px;
    color: #6251dd;
    font-family: Manrope, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 32.784px;
    text-align: left;
    white-space: nowrap;
    z-index: 115;
}

.title-38 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    width: 1320px;
    margin: 60px 0 0 60px;
    z-index: 9;
}

.category {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 44px;
    color: #090937;
    font-family: Manrope, var(--default-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 43.712px;
    text-align: left;
    white-space: nowrap;
    z-index: 10;
}

.view-all-39 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 27px;
    color: #ef6b4a;
    font-family: Manrope, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    white-space: nowrap;
    z-index: 11;
}

.flex-row-3a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 1340px;
    height: 200px;
    margin: 20px 0 0 60px;
    z-index: 36;
}

.book-3b {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    width: 320px;
    padding: 10px 10px 10px 10px;
    background: #f4f4ff;
    border: 1px solid rgba(9, 9, 55, 0.1);
    z-index: 12;
    border-radius: 4px;
}

.picture-3c {
    flex-shrink: 0;
    position: relative;
    width: 120px;
    height: 180px;
    background: url(./assets/images/9e2def06-aeaa-43d4-9801-75a36b929243.png) no-repeat center;
    background-size: cover;
    z-index: 13;
    border-radius: 4px;
}

.text-3d {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 157.875px;
    height: 180px;
    padding: 10px 0 10px 0;
    z-index: 14;
}

.name-3e {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 157.875px;
    z-index: 15;
}

.book-title-3f {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 157.875px;
    height: 54px;
    color: #090937;
    font-family: Manrope, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 27.32px;
    text-align: left;
    z-index: 16;
}

.varol-yasaroglu {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: rgba(9, 9, 55, 0.6);
    font-family: Manrope, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 21.856px;
    text-align: left;
    white-space: nowrap;
    z-index: 17;
}

.price-40 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 82px;
    z-index: 18;
}

.price-dollar-41 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 33px;
    color: #6251dd;
    font-family: Manrope, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 32.784px;
    text-align: left;
    white-space: nowrap;
    z-index: 19;
}

.book-42 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    width: 320px;
    padding: 10px 10px 10px 10px;
    background: #f4f4ff;
    border: 1px solid rgba(9, 9, 55, 0.1);
    z-index: 20;
    border-radius: 4px;
}

.picture-43 {
    flex-shrink: 0;
    position: relative;
    width: 120px;
    height: 180px;
    background: url(./assets/images/512f10cc-bbf9-4a83-b4bf-26f516b6384c.png) no-repeat center;
    background-size: cover;
    z-index: 21;
    border-radius: 4px;
}

.text-44 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 156px;
    height: 180px;
    padding: 10px 0 10px 0;
    z-index: 22;
}

.name-45 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 156px;
    z-index: 23;
}

.alev-sacli-cocuk {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 27px;
    color: #090937;
    font-family: Manrope, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    white-space: nowrap;
    z-index: 24;
}

.christine-nostlinger {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: rgba(9, 9, 55, 0.6);
    font-family: Manrope, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 21.856px;
    text-align: left;
    white-space: nowrap;
    z-index: 25;
}

.price-46 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 83px;
    z-index: 26;
}

.price-dollar-47 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 33px;
    color: #6251dd;
    font-family: Manrope, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 32.784px;
    text-align: left;
    white-space: nowrap;
    z-index: 27;
}

.book-48 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    width: 320px;
    padding: 10px 10px 10px 10px;
    background: #f4f4ff;
    border: 1px solid rgba(9, 9, 55, 0.1);
    z-index: 28;
    border-radius: 4px;
}

.picture-49 {
    flex-shrink: 0;
    position: relative;
    width: 120px;
    height: 180px;
    background: url(./assets/images/1b7d1fec-a7e5-477f-adb5-1aae9bd8fec7.png) no-repeat center;
    background-size: cover;
    z-index: 29;
    border-radius: 4px;
}

.text-4a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 88px;
    height: 180px;
    padding: 10px 0 10px 0;
    z-index: 30;
}

.name-4b {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 73px;
    z-index: 31;
}

.melodi {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 27px;
    color: #090937;
    font-family: Manrope, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    white-space: nowrap;
    z-index: 32;
}

.anil-basili {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: rgba(9, 9, 55, 0.6);
    font-family: Manrope, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 21.856px;
    text-align: left;
    white-space: nowrap;
    z-index: 33;
}

.price-4c {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 88px;
    z-index: 34;
}

.price-dollar-4d {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 33px;
    color: #6251dd;
    font-family: Manrope, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 32.784px;
    text-align: left;
    white-space: nowrap;
    z-index: 35;
}

.book-4e {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    width: 320px;
    padding: 10px 10px 10px 10px;
    background: #f4f4ff;
    border: 1px solid rgba(9, 9, 55, 0.1);
    z-index: 36;
    border-radius: 4px;
}

.picture-4f {
    flex-shrink: 0;
    position: relative;
    width: 120px;
    height: 180px;
    background: url(./assets/images/b8c1b559-39e4-4982-aaa8-dd11605f7bd6.png) no-repeat center;
    background-size: cover;
    z-index: 37;
    border-radius: 4px;
}

.text-50 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 121px;
    height: 180px;
    padding: 10px 0 10px 0;
    z-index: 38;
}

.name-51 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 121px;
    z-index: 39;
}

.siber-kahramanlar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 121px;
    height: 54px;
    color: #090937;
    font-family: Manrope, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 27.32px;
    text-align: left;
    z-index: 40;
}

.feyza-sahin {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: rgba(9, 9, 55, 0.6);
    font-family: Manrope, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 21.856px;
    text-align: left;
    white-space: nowrap;
    z-index: 41;
}

.price-52 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 88px;
    z-index: 42;
}

.price-dollar-53 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 33px;
    color: #6251dd;
    font-family: Manrope, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 32.784px;
    text-align: left;
    white-space: nowrap;
    z-index: 43;
}

.footer-base {
    position: relative;
    width: 1440px;
    height: 100px;
    margin: 0 0 0 0;
    background: #ffffff;
}